<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FTP</WebPublishMethod>
    <PublishUrl>ftp://osbornm.com/wwwroot/</PublishUrl>
    <ReplaceMatchingFiles>True</ReplaceMatchingFiles>
    <DeleteExistingFiles>False</DeleteExistingFiles>
    <FtpAnonymousLogin>False</FtpAnonymousLogin>
    <FtpPassiveMode>True</FtpPassiveMode>
    <UserName>osbornm.com</UserName>
    <SavePWD>False</SavePWD>
  </PropertyGroup>
  <ItemGroup>
    <File Include="bin/Microsoft.Web.Infrastructure.dll">
      <PublishTime>09/14/2011 12:12:02</PublishTime>
    </File>
    <File Include="bin/MySite.dll">
      <PublishTime>09/17/2011 16:26:23</PublishTime>
    </File>
    <File Include="bin/MySite.pdb">
      <PublishTime>09/17/2011 16:26:23</PublishTime>
    </File>
    <File Include="bin/System.Web.Helpers.dll">
      <PublishTime>09/14/2011 12:12:02</PublishTime>
    </File>
    <File Include="bin/System.Web.Mvc.dll">
      <PublishTime>09/14/2011 12:12:02</PublishTime>
    </File>
    <File Include="bin/System.Web.Razor.dll">
      <PublishTime>09/14/2011 12:12:02</PublishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Deployment.dll">
      <PublishTime>09/14/2011 12:12:02</PublishTime>
    </File>
    <File Include="bin/System.Web.WebPages.dll">
      <PublishTime>09/14/2011 12:12:02</PublishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Razor.dll">
      <PublishTime>09/14/2011 12:12:02</PublishTime>
    </File>
    <File Include="Content/Site.css">
      <PublishTime>09/17/2011 12:36:18</PublishTime>
    </File>
    <File Include="Global.asax">
      <PublishTime>09/14/2011 12:12:01</PublishTime>
    </File>
    <File Include="Images/accent.png">
      <PublishTime>09/14/2011 12:12:01</PublishTime>
    </File>
    <File Include="Images/bullet.png">
      <PublishTime>09/14/2011 12:12:01</PublishTime>
    </File>
    <File Include="Images/heroAccent.png">
      <PublishTime>09/14/2011 12:12:01</PublishTime>
    </File>
    <File Include="Images/myBlog.png">
      <PublishTime>09/14/2011 12:12:01</PublishTime>
    </File>
    <File Include="Images/MyCode.png">
      <PublishTime>09/14/2011 12:12:01</PublishTime>
    </File>
    <File Include="Images/myTalks.png">
      <PublishTime>09/14/2011 12:12:01</PublishTime>
    </File>
    <File Include="Images/orderedListFour.png">
      <PublishTime>09/14/2011 12:12:01</PublishTime>
    </File>
    <File Include="Images/orderedListOne.png">
      <PublishTime>09/14/2011 12:12:01</PublishTime>
    </File>
    <File Include="Images/orderedListThree.png">
      <PublishTime>09/14/2011 12:12:01</PublishTime>
    </File>
    <File Include="Images/orderedListTwo.png">
      <PublishTime>09/14/2011 12:12:01</PublishTime>
    </File>
    <File Include="Images/twitter.png">
      <PublishTime>09/14/2011 12:12:01</PublishTime>
    </File>
    <File Include="packages.config">
      <PublishTime>09/14/2011 12:12:01</PublishTime>
    </File>
    <File Include="Scripts/jquery-1.6.2-vsdoc.js">
      <PublishTime>09/14/2011 12:12:01</PublishTime>
    </File>
    <File Include="Scripts/jquery-1.6.2.js">
      <PublishTime>09/14/2011 12:12:01</PublishTime>
    </File>
    <File Include="Scripts/jquery-1.6.2.min.js">
      <PublishTime>09/14/2011 12:12:01</PublishTime>
    </File>
    <File Include="Scripts/jquery.unobtrusive-ajax.js">
      <PublishTime>09/14/2011 12:12:01</PublishTime>
    </File>
    <File Include="Scripts/jquery.unobtrusive-ajax.min.js">
      <PublishTime>09/14/2011 12:12:01</PublishTime>
    </File>
    <File Include="Scripts/jquery.validate-vsdoc.js">
      <PublishTime>09/14/2011 12:12:01</PublishTime>
    </File>
    <File Include="Scripts/jquery.validate.js">
      <PublishTime>09/14/2011 12:12:01</PublishTime>
    </File>
    <File Include="Scripts/jquery.validate.min.js">
      <PublishTime>09/14/2011 12:12:01</PublishTime>
    </File>
    <File Include="Scripts/jquery.validate.unobtrusive.js">
      <PublishTime>09/14/2011 12:12:01</PublishTime>
    </File>
    <File Include="Scripts/jquery.validate.unobtrusive.min.js">
      <PublishTime>09/14/2011 12:12:01</PublishTime>
    </File>
    <File Include="Scripts/modernizr-2.0.6-development-only.js">
      <PublishTime>09/14/2011 12:12:01</PublishTime>
    </File>
    <File Include="Views/Home/Contact.cshtml">
      <PublishTime>09/14/2011 12:12:01</PublishTime>
    </File>
    <File Include="Views/Home/Index.cshtml">
      <PublishTime>09/14/2011 12:12:01</PublishTime>
    </File>
    <File Include="Views/Home/Resume.cshtml">
      <PublishTime>09/14/2011 12:12:01</PublishTime>
    </File>
    <File Include="Views/Home/Talks.cshtml">
      <PublishTime>09/17/2011 15:55:55</PublishTime>
    </File>
    <File Include="Views/Shared/Error.cshtml">
      <PublishTime>09/14/2011 12:12:01</PublishTime>
    </File>
    <File Include="Views/Shared/_Layout.cshtml">
      <PublishTime>09/14/2011 12:12:01</PublishTime>
    </File>
    <File Include="Views/Shared/_LogOnPartial.cshtml">
      <PublishTime>09/14/2011 12:12:01</PublishTime>
    </File>
    <File Include="Views/Web.config">
      <PublishTime>09/14/2011 12:12:01</PublishTime>
    </File>
    <File Include="Views/_ViewStart.cshtml">
      <PublishTime>09/14/2011 12:12:01</PublishTime>
    </File>
    <File Include="Web.config">
      <PublishTime>09/17/2011 16:03:28</PublishTime>
    </File>
  </ItemGroup>
</Project>