@{
    ViewBag.Title = "Résumé";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section>

    <h2>Currently Not Available.</h2>

    <p>
        I am currently gainfully employed and am not looking for new opportunities at this time. However, 
        I understand that you might have arrived at this page just wanting to get to know me more. In that 
        case your best bet is to look at my work on 
        <a href="http://www.codeplex.com/site/users/view/osbornm" title="CodePlex.com">CodePlex.com</a>,
        <a href="https://github.com/osbornm" title="Github.com">Github.com</a>, and 
        <a href="https://bitbucket.org/osbornm/" title="BitBucket.org">BitBucket.org</a>, as well as my 
        activity on <a href="http://stackoverflow.com/users/5235/matthew-m-osborn" title="StackOverflow.com">StackOverflow.com</a>. 
        Additionally, reading <a href="http://blog.osbornm.com" title="My Blog - http://blog.osbornm.com">my blog</a> 
        should round out my skill set and education. If you're still interested you can take a look at 
        <a href="http://careers.stackoverflow.com/osbornm">my CV on stackoverflow.com careers</a>. 
    </p>

    <h2 id="special">A special note to recruiters:</h2>
    <p>
        I consider there to be two categories of recruiters. If you are a recruiter and have reached this 
        page after searching for me and browsing my site you are in the first category. I do, truly, 
        appreciate your interest in me. However, as stated above I am currently gainfully employeed. 
    </p>

    <p>
        However, if you are a recruiter and you arrived at this page because I directly linked you to 
        this page then you fall in the second category. I do appreciate your interest in me but it seems 
        that your interest is not genuine or is small at best. I would expect someone that was generally 
        interested in hiring me to do a simple search on the web and browse my website before contacting 
        me. If you did that you would fall into the first category of recruiters. Given that you couldn’t 
        take the time to simply search for me I doubt that any new opportunities you have are worth 
        my time, because I obviously am not worth yours.  
    </p>

</section>