@{
    ViewBag.Title = "Talks";
}

<section>
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
        <h2>@ViewBag.Message</h2>
    </hgroup>

    <div class="three-column clear-fix">
        <section class="talk" id="html5">
            <div class="slides">
                <script async class="speakerdeck-embed" data-id="4ee7f137bc1ba9004c003349" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js"></script>
            </div>
            <h3>HTML5 w/ ASP.NET 4 &amp; 4.5</h3>
            <p>
                Whether you’re building a new website using ASP.NET or maintaining an existing one, you’ll leave 
                this talk ready use HTML5 on ASP.NET with VS2010. We’ll look at what HTML5 offers modern application 
                developers and how you can code HTML5 with ASP.NET WebForms or ASP.NET MVC for rich Web Applications 
                both today and tomorrow.   In this talk we will see how to build an awesome ASP.NET website which 
                uses the HTML5 & related standards like Audio, Video, GeoLocation, Local Storage, Canvas etc. 
            </p>
            <a href="https://speakerd.s3.amazonaws.com/presentations/4ee7f137bc1ba9004c003349/html5-with-aspnet.pdf" title="Download the slides.">Download the slides</a>
            <a href="http://osbornm.com/samples/talks/html5/demos.zip" title="Download the demos.">Download the demos</a>
        </section>
        <section class="talk" id="NuGet">
            <div class="slides">
                <script async class="speakerdeck-embed" data-id="4f8f0b5f938b8f001f02234e" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js"></script>
            </div>
            <h3>NuGet: Add Reference, Awesome</h3>
            <p>
                There’s an Open Source package manager for .NET available now called NuGet. It’s supported 
                and shipping with ASP.NET MVC 3, but it’s not just for ASP.NET. In fact, it’s not just for 
                open source. Join Matthew as we learn all about NuGet, from the basics of consuming packages, 
                to creating and distributing your own packages both internally on your own server and 
                externally on NuGet.org. Then we’ll learn some advanced techniques like preinstalling NuGet 
                packages into your own project templates and how NuGet can be extended and enhanced to write 
                your code for you. We’ll see how using NuGet with your project makes development fun again!
            </p>
            <a href="https://speakerd.s3.amazonaws.com/presentations/4f8f0b5f938b8f001f02234e/NuGet.pdf" title="Download the slides.">Download the slides</a>
        </section>
        <section class="talk" id="frameworks">
            <div class="slides">
                <script async class="speakerdeck-embed" data-id="4ee7f23ad69857004c00349b" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js"></script>
            </div>
            <h3>Leveraging the ASP.NET frameworks</h3>
            <p>
                Trying to decide on what ASP.NET framework (ASP.NET MVC, Web Forms, Web Pages) is right for 
                your new project, or maybe you already have an existing investment in one of the ASP.NET 
                frameworks and feel that you can use the others? The good news is that the different 
                frameworks all snap and fit snuggly together just like your favorite childhood building 
                blocks. We’ll look at how you can benefit from mixing and matching these pieces for the 
                different parts of your project.  Come learn how easy it is to choose the right framework 
                for the right job and make them all seamlessly fit together. 
            </p>
            <a href="http://samples.osbornm.com/DevConnections2011/Leavering-ASPNET-Frameworks.ppt" title="Download the slides.">Download the slides</a>
        </section>
        <section class="talk" id="Playr">
            <div class="slides">
                <script async class="speakerdeck-embed" data-id="5033175e18d1b4000201eb59" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js"></script>
            </div>
            <h3>Playr</h3>
            <p>
               I'm not going to lie this is basically a rip off of play but writen in .net and using 
               the Microsoft stack. It was a side project to learn new stuff when we, the Azure Portal Team, moved to a team room.
            </p>
            <a href="https://speakerd.s3.amazonaws.com/presentations/5033175e18d1b4000201eb59/Playr.pdf" title="Download the slides.">Download the slides</a>
        </section>
        <section class="talk" id="PracticalHTML">
            <div class="slides wide">
                <script async class="speakerdeck-embed" data-id="5f7819004e0b01309ee622000a1c59be" data-ratio="1.77777777777778" src="//speakerdeck.com/assets/embed.js"></script>
            </div>
            <h3>Practical HTML 5</h3>
            <p>
                Whether you’re building a new website or maintaining an existing one, you’ll leave 
                this talk ready use HTML5. We’ll look at what it offers modern application developers 
                and how you can code rich Web Applications both today and tomorrow. In this talk we 
                will see how to build an awesome website which uses HTML5 & related standards like 
                Audio, Video, GeoLocation, Local Storage, Canvas etc.
            </p>
            <a href="http://osbornm.com/samples/talks/2013/ALMSummit/practical-HTML5.pptx" title="Download the slides.">Download the slides</a>
        </section>

    </div>
</section>

<section id="timeline">
    <hgroup class="title">
        <h1>Conferences.</h1>
        <h2>A timeline of my conference talks.</h2>
    </hgroup>

    <div class="timeline-wrapper clear-fix">
        <ol class="timeline">
            <li class="seperator" id="January2013"">
                January, 2013
            </li>
            <li class="right" id="ALMSummit2013">
                <section>
                    <hgroup>
                        <h1>ALM Summit 3</h1>
                        <h2>01.28.13 - 01.31.13</h2>
                    </hgroup>
                    <div class="talk last">
                        <a href="#" class="link-heading" title="This is a version of the 'Practical HTML5' talk.">
                        Practical HTML5</a>
                        <p>
                            Whether you’re building a new website or maintaining an existing one, you’ll leave this 
                            talk ready use HTML5. We’ll look at what it offers modern application developers and 
                            how you can code rich Web Applications both today and tomorrow. In this talk we will see 
                            how to build an awesome website which uses HTML5 & related standards like Audio, Video, 
                            GeoLocation, Local Storage, Canvas etc.
                        </p>
                        <a href="http://osbornm.com/samples/talks/2013/ALMSummit/practical-HTML5.pptx" title="Download the slides used for this version.">Get the slides</a>
                        <a href="http://osbornm.com/samples/talks/2013/ALMSummit/demos.zip" title="Download the sample code from the talk.">Get the sample code</a>
                    </div>
                </section>
            </li>
            <li class="seperator" id="May2012"">
                May, 2012
            </li>

            <li class="left" id="WebCampBrussels2012">
                <section>
                    <hgroup>
                        <h1>Web Camp Brussels </h1>
                        <h2>5.3.12</h2>
                    </hgroup>
                    <div class="talk">
                        <span class="link-heading">Integrating Your Site with Internet Explorer 9</span>
                        <p>
                            Web development is an art form, and IE9 is the perfect canvas for web developers to use to make their
                             magic happen. This session will introduce you to the some unprecedented statistics on how IE9 can 
                             speed up your sites and make your customers' experiences more efficient. You'll learn about some 
                             tricks available only to the IE9 user, like Site Pinning and Jump Lists. Web standards and 
                             interoperability and how IE9 solves these problems for developers will also be discussed in great 
                             detail. You'll also learn some of the low-level technical details about IE9's improvements. You'll 
                             also be introduced you to what you'll need to know in the coming months regarding Windows 8 and 
                             Internet Explorer 10 and the opportunities it'll add to your development experience. 
                        </p>
                    </div>
                    <div class="talk">
                        <span class="link-heading">Creating Rich HTML 5 Experiences</span>
                        <p>
                            By now you should know that HTML5 is literally the best thing to happen to the web in years. There 
                            is a massive array of new tags that provide support for video, audio, embedded fonts, databinding, 
                            and in-browser data persistence. When coupled with advancements in JavaScript technology like jQuery 
                            and the myriad of jQuery plugins available for free, the ability to create truly dynamic client 
                            experiences is limited only by your imagination. Add to that new advancements in real-time 
                            communication like SignalR and the idea of achieving MVC or MVVM functionality using libraries like 
                            Knockout.js, and you've got a whole new web of opportunities to blow your users' minds. This session 
                            will leave you breathless with ideas on how you can improve your existing apps. You might even dream 
                            up a few new apps of your own just to try your hands at the stuff you learn, especially once you see 
                            how well they all perform in beautiful Internet Explorer 9. We'll even show you how to use jQuery 
                            Mobile to mobilize your web applications so that they run seamlessly in any mobile browser.
 

                        </p>
                    </div>
                    <div class="talk">
                        <span class="link-heading">Building Web Sites Using ASP.NET 4.5</span>
                        <p>
                            We'll cover all the new features of the new ASP.NET 4.5 runtime and introduce you to the idea of the 
                            One ASP.NET Framework. Forget about the distinctions and debates of "WebForms or MVC," "Razor or ASPX," 
                            because the new, combined framework provides everything to you in one big basket. Want some web forms 
                            in your MVC? Fine. Want to add a simple MVC view to an existing Web Forms app? No problem. Need to add 
                            some client side calls to an API living within your ASP.NET site? We've got you covered. You'll be 
                            introduced to how Visual Studio 11 brings the ASP.NET family together into a unified solution, complete 
                            with new features like script bundling and minification. You'll also learn about all the new features, 
                            from MVC 4.0 to Web API, the new advancements in Entity Framework, and how adaptive rendering can ease 
                            the pain of writing web apps for the browser or the mobile device. No more arguing over what direction 
                            you'll need to take - ASP.NET is the only answer you need, it's the 1-stop-shop server-side solution. 
                        </p>
                    </div>
                    <a href="http://osbornm.com/samples/talks/2012/WebCamps/Slides.zip" title="Download my version of the sldies.">Get the slides</a>
                    <a href="http://osbornm.com/samples/talks/2012/webcamps/Demos.zip" title="Download the demos done on stage.">Get the Demos</a>
                </section>
            </li>

            <li class="seperator" id="April2012"">
                April, 2012
            </li>

            <li class="left" id="KCDC2012">
                <section>
                    <hgroup>
                        <h1>KCDC</h1>
                        <h2>04.26.12 - 04.28.12</h2>
                    </hgroup>
                    <div class="talk">
                        <a href="#NuGet" class="link-heading" title="This is a version of the 'NuGet: Add Refence | Awesome' talk.">
                            NuGet: Add Reference | Awesome</a>
                        <p>
                            There’s an Open Source package manager for .NET available now called NuGet. It’s supported 
                            and shipping with ASP.NET MVC 3, but it’s not just for ASP.NET. In fact, it’s not just for 
                            open source. Join Matthew as we learn all about NuGet, from the basics of consuming packages, 
                            to creating and distributing your own packages both internally on your own server and 
                            externally on NuGet.org. Then we’ll learn some advanced techniques like preinstalling NuGet 
                            packages into your own project templates and how NuGet can be extended and enhanced to write 
                            your code for you. We’ll see how using NuGet with your project makes development fun again!
                        </p>
                    </div>
                    <div class="talk last">
                        <a href="#html5" class="link-heading" title="This is a version of the 'HTML5 w/ ASP.NET 4 &amp; 4.5' talk.">
                        ASP.NET 4.5 loves HTML5, CSS3, &amp; JavaScript</a>
                        <p>
                            Whether you’re building a new Website using ASP.NET or maintaining an existing one, you’ll 
                            leave this talk ready use HTML5 & CSS3 on ASP.NET with Visual Studio. We’ll look at what 
                            HTML5 & CSS3 have to offer modern app developers and how you can use them with ASP.NET 
                            for rich Web apps both today and tomorrow. 
                        </p>
                    </div>
                </section>
            </li>

            <li class="seperator" id="March2012"">
                March, 2012
            </li>

            <li class="left" id="DevConnection2012">
                <section>
                    <hgroup>
                        <h1>DevConnections</h1>
                        <h2>03.26.12 - 03.29.12</h2>
                    </hgroup>
                    <div class="talk">
                        <a href="#NuGet" class="link-heading" title="This is a version of the 'NuGet: Add Refence | Awesome' talk.">
                            NuGet: Add Reference | Awesome</a>
                        <p>
                            There’s an Open Source package manager for .NET available now called NuGet. It’s supported 
                            and shipping with ASP.NET MVC 3, but it’s not just for ASP.NET. In fact, it’s not just for 
                            open source. Join Matthew as we learn all about NuGet, from the basics of consuming packages, 
                            to creating and distributing your own packages both internally on your own server and 
                            externally on NuGet.org. Then we’ll learn some advanced techniques like preinstalling NuGet 
                            packages into your own project templates and how NuGet can be extended and enhanced to write 
                            your code for you. We’ll see how using NuGet with your project makes development fun again!
                        </p>
                    </div>
                    <div class="talk last">
                        <a href="#html5" class="link-heading" title="This is a version of the 'HTML5 w/ ASP.NET 4 &amp; 4.5' talk.">
                        ASP.NET 4.5 loves HTML5, CSS3, &amp; JavaScript</a>
                        <p>
                            Whether you’re building a new Website using ASP.NET or maintaining an existing one, you’ll 
                            leave this talk ready use HTML5 & CSS3 on ASP.NET with Visual Studio. We’ll look at what 
                            HTML5 & CSS3 have to offer modern app developers and how you can use them with ASP.NET 
                            for rich Web apps both today and tomorrow. 
                        </p>
                    </div>
                </section>
            </li>
            
            <li class="right" id="VSLive2012">
                <section>
                    <hgroup>
                        <h1>VSLive!</h1>
                        <h2>03.26.12 - 03.29.12</h2>
                    </hgroup>
                    <div class="talk last">
                        <a href="#html5" class="link-heading" title="This is a version of the 'HTML5 w/ ASP.NET 4 &amp; 4.5' talk.">
                        ASP.NET 4.5 loves HTML5, CSS3, &amp; JavaScript</a>
                        <p>
                            Whether you’re building a new Website using ASP.NET or maintaining an existing one, you’ll 
                            leave this talk ready use HTML5 & CSS3 on ASP.NET with Visual Studio. We’ll look at what 
                            HTML5 & CSS3 have to offer modern app developers and how you can use them with ASP.NET 
                            for rich Web apps both today and tomorrow. 
                        </p>
                    </div>
                </section>
            </li>

            <li class="seperator" id="Feburary2011">
                Feburary, 2012
            </li>

            <li class="left" id="MVP2012">
                <section>
                    <hgroup>
                        <h1>MVP Summit</h1>
                        <h2>2.20.12 - 2.24.12</h2>
                    </hgroup>
                    <div class="talk last">
                        <a href="#" class="link-heading" title="Talks Under NDA">Non-disclosure Agreement </a>
                        <p>
                            All content for this conference was under NDA. If you attended the conference and would like some of the content feel free to email me.
                        </p>
                    </div>
                </section>
            </li>

            <li class="right" id="TechReady14">
                <section>
                    <hgroup>
                        <h1>TechReady 14</h1>
                        <h2>2.1.12 - 2.3.12</h2>
                    </hgroup>
                    <div class="talk last">
                        <a href="#" class="link-heading" title="Talks Under NDA">Non-disclosure Agreement </a>
                        <p>
                            All content for this conference was under NDA. If you attended the conference and would like some of the content feel free to email me.
                        </p>
                    </div>
                </section>
            </li>


            <li class="seperator" id="December2011">
                December, 2011
            </li>

            <li class="left" id="C4MVC2011">
                <section>
                    <hgroup>
                        <h1>C4MVC</h1>
                        <h2>12.07.11</h2>
                    </hgroup>
                    <div class="talk last">
                        <a href="#NuGet" class="link-heading" title="This is a version of the 'NuGet: Add Refence | Awesome' talk.">
                        NuGet: Add Reference | Awesome (Advanced)</a>
                        <p>
                            There’s an Open Source package manager for .NET available now called NuGet. It’s supported 
                            and shipping with ASP.NET MVC 3, but it’s not just for ASP.NET. In fact, it’s not just for 
                            open source. Join Matthew as we learn all about NuGet, from the basics of consuming packages, 
                            to creating and distributing your own packages both internally on your own server and 
                            externally on NuGet.org. Then we’ll learn some advanced techniques like preinstalling NuGet 
                            packages into your own project templates and how NuGet can be extended and enhanced to write 
                            your code for you. We’ll see how using NuGet with your project makes development fun again!
                        </p>
                        <a href="http://samples.osbornm.com/C4MVC/NuGet-Advanced.ppt" title="Download the slides used for this version.">Get the slides</a>
                        <a href="http://samples.osbornm.com/C4MVC/NuGet-Advanced.zip" title="Download the sample code from the talk.">Get the sample code</a>
                    </div>
                </section>
            </li>

            <li class="seperator" id="October2011">
                October, 2011
            </li>

            <li class="left" id="VSLive2011">
                <section>
                    <hgroup>
                        <h1>VSLive</h1>
                        <h2>10.17.11 - 10.21.11</h2>
                    </hgroup>
                    <div class="talk last">
                        <a href="#NuGet" class="link-heading" title="This is a version of the 'NuGet: Add Refence | Awesome' talk.">
                        NuGet: Add Reference | Awesome</a>
                        <p>
                            There’s an Open Source package manager for .NET available now called NuGet. It’s supported 
                            and shipping with ASP.NET MVC 3, but it’s not just for ASP.NET. In fact, it’s not just for 
                            open source. Join Matthew as we learn all about NuGet, from the basics of consuming packages, 
                            to creating and distributing your own packages both internally on your own server and 
                            externally on NuGet.org. Then we’ll learn some advanced techniques like preinstalling NuGet 
                            packages into your own project templates and how NuGet can be extended and enhanced to write 
                            your code for you. We’ll see how using NuGet with your project makes development fun again!
                        </p>
                        <a href="http://osbornm.com/samples/talks/2011/VSLive2011/W20-NuGet.ppt" title="Download the slides used for this version.">Get the slides</a>
                        <a href="http://osbornm.com/samples/talks/2011/VSLive2011/W20-NuGet.zip" title="Download the sample code from the talk.">Get the sample code</a>
                    </div>
                </section>
            </li>
            <li class="right" id="DevConnection2011">
                <section>
                    <hgroup>
                        <h1>DevConnections</h1>
                        <h2>10.31.11 - 11.03.11</h2>
                    </hgroup>
                    <div class="talk">
                        <a href="#html5" class="link-heading" title="This is a version of the 'HTML5 w/ ASP.NET 4 &amp; 4.5' talk.">
                        HTML5 w/ ASP.NET 4 &amp; 4.5</a>
                        <p>
                            Whether you’re building a new website using ASP.NET or maintaining an existing one, you’ll leave 
                            this talk ready use HTML5 on ASP.NET with VS2010. We’ll look at what HTML5 offers modern application 
                            developers and how you can code HTML5 with ASP.NET WebForms or ASP.NET MVC for rich Web Applications 
                            both today and tomorrow.   In this talk we will see how to build an awesome ASP.NET website which 
                            uses the HTML5 & related standards like Audio, Video, GeoLocation, Local Storage, Canvas etc. 
                        </p>
                        <a href="http://osbornm.com/samples/talks/DevConnections2011/HTML5-in-ASPNET.ppt" title="Download the slides used for this version.">Get the slides</a>
                        <a href="http://osbornm.com/samples/talks/DevConnections2011/HTML5-in-ASPNET.zip" title="Download the sample code from the talk.">Get the sample code</a>
                    </div>
                    <div class="talk last">
                        <a href="#frameworks"  class="link-heading" title="This is a version of the 'Leveraging the ASP.NET frameworks: Choosing the right pieces' talk.">
                        Leveraging the ASP.NET frameworks: Choosing the right pieces</a>
                        <p>
                            Trying to decide on what ASP.NET framework (ASP.NET MVC, Web Forms, Web Pages) is right for 
                            your new project, or maybe you already have an existing investment in one of the ASP.NET 
                            frameworks and feel that you can use the others? The good news is that the different 
                            frameworks all snap and fit snuggly together just like your favorite childhood building 
                            blocks. We’ll look at how you can benefit from mixing and matching these pieces for the 
                            different parts of your project.  Come learn how easy it is to choose the right framework 
                            for the right job and make them all seamlessly fit together. 
                        </p>
                        <a href="http://osbornm.com/samples/talks/DevConnections2011/Leavering-ASPNET-Frameworks.ppt" title="Download the slides used for this version.">Get the slides</a>
                        <a href="http://osbornm.com/samples/talks/DevConnections2011/Leavering-ASPNET-Frameworks.zip" title="Download the sample code from the talk.">Get the sample code</a>
                    </div>
                </section>
            </li>

            <li class="seperator" id="September2011">
                September, 2011
            </li>

            <li class="" id="Build2011">
                <section>
                    <hgroup>
                        <h1>//Build</h1>
                        <h2>09.13.11 - 09.16.11</h2>
                    </hgroup>
                    <div class="talk last">
                        <a href="#html5" class="link-heading"  title="This is a version of the 'HTML5 w/ ASP.NET 4 &amp; 4.5' talk.">
                        ASP.NET 4.5 loves HTML5, CSS3, &amp; JavaScript</a>
                        <p>
                            Whether you’re building a new Website using ASP.NET or maintaining an existing one, you’ll 
                            leave this talk ready use HTML5 & CSS3 on ASP.NET with Visual Studio. We’ll look at what 
                            HTML5 & CSS3 have to offer modern app developers and how you can use them with ASP.NET 
                            for rich Web apps both today and tomorrow. 
                        </p>
                        <a href="http://channel9.msdn.com/events/BUILD/BUILD2011/TOOL-796T" title="Watch the video on Channel9 or download it.">Watch the video</a>
                        <a href="http://video.ch9.ms/build/2011/slides/TOOL-796T_Osborn.pptx" title="Download the slides used for this version.">Get the slides</a>
                        <a href="http://osbornm.com/samples/talks/2011/build2011.zip" title="Download the sample code from the talk.">Get the sample code</a>
                    </div>
                </section>
            </li>
        </ol>
    </div>
</section>