@{
    ViewBag.Title = "Talks";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="talk" id="Build2011">
    <h3>ASP.NET 4.5 loves HTML5, CSS3, &amp; JavaScript</h3>
    <p>
        Whether you’re building a new Website using ASP.NET or maintaining an existing one, you’ll 
        leave this talk ready use HTML5 & CSS3 on ASP.NET with Visual Studio. We’ll look at what 
        HTML5 & CSS3 have to offer modern app developers and how you can use them with ASP.NET 
        for rich Web apps both today and tomorrow. 
    </p>
    <a href="http://channel9.msdn.com/events/BUILD/BUILD2011/TOOL-796T" title="Watch the video on Channel9 or download it.">Watch the video</a>
    <a href="http://video.ch9.ms/build/2011/slides/TOOL-796T_Osborn.pptx" title="Download the slides.">Get the slides</a>
    <a href="http://samples.osbornm.com/build2011.zip" title="Download the sample code from the talk.">Get the sample code</a>
</section>

<section class="talk">
    <h3>HTML5 w/ ASP.NET 4 &amp; 4.5</h3>
    <p>
        Whether you’re building a new website using ASP.NET or maintaining an existing one, you’ll leave 
        this talk ready use HTML5 on ASP.NET with VS2010. We’ll look at what HTML5 offers modern application 
        developers and how you can code HTML5 with ASP.NET WebForms or ASP.NET MVC for rich Web Applications 
        both today and tomorrow.   In this talk we will see how to build an awesome ASP.NET website which 
        uses the HTML5 & related standards like Audio, Video, GeoLocation, Local Storage, Canvas etc. 
    </p>
    <a href="http://samples.osbornm.com/DevConnections2011/HTML5-in-ASPNET.ppt" title="Download the slides.">Get the slides</a>
    <a href="http://samples.osbornm.com/DevConnections2011/HTML5-in-ASPNET.zip" title="Download the sample code from the talk.">Get the sample code</a>
</section>

<section class="talk" id="VSLive2011">
    <h3>NuGet: Add Reference | Awesome</h3>
    <p>
        There’s an Open Source package manager for .NET available now called NuGet. It’s supported 
        and shipping with ASP.NET MVC 3, but it’s not just for ASP.NET. In fact, it’s not just for 
        open source. Join Matthew as we learn all about NuGet, from the basics of consuming packages, 
        to creating and distributing your own packages both internally on your own server and 
        externally on NuGet.org. Then we’ll learn some advanced techniques like preinstalling NuGet 
        packages into your own project templates and how NuGet can be extended and enhanced to write 
        your code for you. We’ll see how using NuGet with your project makes development fun again!
    </p>
    <a href="http://samples.osbornm.com/VSLive2011/W20-NuGet.ppt" title="Download the slides.">Get the slides</a>
    <a href="http://samples.osbornm.com/VSLive2011/W20-NuGet.zip" title="Download the sample code from the talk.">Get the sample code</a>
</section>

<section class="talk" id="C4MVC">
    <h3>NuGet: Add Reference | Awesome (Advanced)</h3>
    <p>
        There’s an Open Source package manager for .NET available now called NuGet. It’s supported 
        and shipping with ASP.NET MVC 3, but it’s not just for ASP.NET. In fact, it’s not just for 
        open source. Join Matthew as we learn all about NuGet, from the basics of consuming packages, 
        to creating and distributing your own packages both internally on your own server and 
        externally on NuGet.org. Then we’ll learn some advanced techniques like preinstalling NuGet 
        packages into your own project templates and how NuGet can be extended and enhanced to write 
        your code for you. We’ll see how using NuGet with your project makes development fun again!
    </p>
    <a href="http://samples.osbornm.com/C4MVC/NuGet-Advanced.ppt" title="Download the slides.">Get the slides</a>
    <a href="http://samples.osbornm.com/C4MVC/NuGet-Advanced.zip" title="Download the sample code from the talk.">Get the sample code</a>
</section>

<section class="talk">
    <h3>Leveraging the ASP.NET frameworks: Choosing the right pieces</h3>
    <p>
        Trying to decide on what ASP.NET framework (ASP.NET MVC, Web Forms, Web Pages) is right for 
        your new project, or maybe you already have an existing investment in one of the ASP.NET 
        frameworks and feel that you can use the others? The good news is that the different 
        frameworks all snap and fit snuggly together just like your favorite childhood building 
        blocks. We’ll look at how you can benefit from mixing and matching these pieces for the 
        different parts of your project.  Come learn how easy it is to choose the right framework 
        for the right job and make them all seamlessly fit together. 
    </p>
    <a href="http://samples.osbornm.com/DevConnections2011/Leavering-ASPNET-Frameworks.ppt" title="Download the slides.">Get the slides</a>
    <a href="http://samples.osbornm.com/DevConnections2011/Leavering-ASPNET-Frameworks.zip" title="[Coming Soon] Download the sample code from the talk.">Get the sample code</a>
</section>


